body {
    font-family: "Ubuntu", serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-family: "Nothing you could do", cursive;
}

p {
    font-weight: 300;
    color: #171818;
    font-size: 18px;
    line-height: 36px;
}

a {
    color: #171818;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    color: black;
}

.navbar {
    background-color: transparent;
    font-family: 'Ubuntu', serif;
    font-size: 14px;
    color: #fff;
}
.nav-link {
    color: #fff; 
}

.navbar-brand {
    color: #fff;
}

.navbar-brand img {
    height: 80px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.collapse {
    margin-left: 50%;
}

/* Hero section */
#hero {
   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/resort.jpg");
   height: 600px;
   background-size: cover;
   background-position: 0 50%;
   background-repeat: no-repeat;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#hero h1 {
    font-size: 72px;
    font-weight: 700;
    margin-top: 20px;
}

#hero p {
    line-height: 1.5rem;
    padding-top: 20px;
    color: #fff;
}

#hero .btn {
   opacity: 0.75;
   padding: 20px 30px;
   font-weight: 700;

}
#hero .container {
max-width: 700px;
}
   
/* Welcome Section  */
#welcome {
    padding-top: 80px;
}

#welcome .row {
    align-items: center;
}

#welcome img {
margin-bottom: 50px;
}

#welcome h1 {
    margin-bottom: 20px;
}

#amenities .row {
    align-items: center;
    padding: 80px;
}

#amenities img {
    padding-left: 50px;
    max-width: 700px
}